body{
    background-color: #eef0f5;
    font-family: sans-serif; 
    /* i might change font later  */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* main box  */
#gameBox{
    background-color: #eef0f5;
    border-radius: 24px;
    padding: 40px;
    width: 350px;
    text-align: center;
    box-shadow: 8px 8px 16px #c8cad0,
    -8px -8px 16px #ffffff;
}
/* input box  */
#guessInput{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background-color: #eef0f5;
    box-shadow: inset 4px 4px 8px #c8cad0,
    inset -4px -4px 8px #ffffff;
    font-size: 16px;
    outline: none;
}
/* guess button  */
#guessBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #eef0f5;
    box-shadow: 6px 6px 12px #c8cad0,
     -6px -6px 12px #ffffff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
#guessBtn:active{
    box-shadow: inset 4px 4px 8px #c8cad0,
    inset -4px -4px 8px #ffffff;
}
/* play again button */
#playAgainBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #eef0f5;
    box-shadow: 6px 6px 12px #c8cad0,
    -6px -6px 12px #ffffff;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}
#playAgainBtn:active{
    box-shadow: inset 4px 4px 8px #c8cad0,
    inset -4px -4px 8px #ffffff;
}